
.flex{
  display: flex
}

.relative{
  position: relative;
}
.nav-container{
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}

ul{
  list-style-type: none;
}

.left-menu > ul > li, .right-menu > ul > li {
  padding-left: 15px;
}



.left-menu > ul, .right-menu > ul {
  display: flex;
  flex-direction: row;
}

.dropdown{
  position: absolute;
  display: none;
  box-shadow: 0px 0px 5px  #000;
  border-radius: 5px;
  top: 30px;
  transform: translate(-30%);
  padding-right: 30px;
}

.dropdown.active{
  display: flex;
}
